/* ---------- strona ---------- */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif; /* Lato */
}

/* ---------- zmiana trybu ---------- */

:root
{
    --kolorTla: #ffffff; /* kolor tła dla trybu jasnego */
    --kolorTekstu: #000000; /* kolor tekstu dla trybu jasnego */
    --kolorStopki: #222222; /* kolor tła stopki dla trybu jasnego */
    --trybyPrzyciskS: none; /* słońce się nie wyświetla */
    --trybyPrzyciskK: block; /* księżyc się wyświetla */
}

html, body
{
    background-color: var(--kolorTla); /* kolot tła biały dla trybu jasnego ciemny dla trybu ciemnego */
    color: var(--kolorTekstu); /* kolot tekstu biały dla trybu jasnego ciemny dla trybu ciemnego */
    height: 100%;
    transition: background-color 300ms ease, color 300ms ease;
}

body.ciemny
{
    --kolorTla: #222222; /* ciemny, nie czarny kolor tła dla trybu ciemnego */
    --kolorTekstu: #e6e6e6; /* biały kolor tekstu */
    --kolorStopki: #313e57;
    --trybyPrzyciskS: block; /* słońce się wyświetla */
    --trybyPrzyciskK: none; /* księżyc się nie wyświetla */
}

/* ---------- tekst ---------- */

h2
{
    font-weight: 300; /* cieńki */
    color: var(--kolorTekstu);
    font-size: clamp(1.2rem, 3vw, 3.5rem);
}

h3
{
    color: var(--kolorTekstu);
    font-size: clamp(1.5rem, 3vw, 2rem);
}

h1
{
    color: #53678c;
    text-transform: uppercase;
    font-size: clamp(1.5rem, 3vw, 2rem);
}

p
{
    line-height: 1.4;
    color: var(--kolorTekstu);
    font-size: clamp(1rem, 3vw, 1.8rem);
}

a
{
    text-decoration: none; /* bez podkreślenia */
    color: var(--kolorTekstu);
    transition: color 200ms ease; /* przejście do niebieskiego koloru na :hover */
}

a:hover 
{
    color: #53678c;
    text-decoration: underline;
}

a img:hover
{
    filter: brightness(0.8);
}

.kopiuj
{
    cursor: pointer;
    color: var(--kolorTekstu);
    text-decoration: underline;
    transition: color 200ms ease; /* przejście do niebieskiego koloru na :hover */
}

.kopiuj:hover
{
    color: #53678c;
}

::selection /* zaznaczanie tekstu za pomocą myszki */
{
    color: var(--kolorTla);
    background-color: #53678c;
}

/* ---------- pasek menu ---------- */

#powitanie /* to co widzimy po wejściu na stronę kościoła */
{
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header
{
    display: flex;
    padding: 0% clamp(5%, 3vw, 10%) 0% clamp(20%, 30vw, 30%);
    align-items: flex-start;
    justify-content: space-between;
}

#logo
{
    left: clamp(5px, 3vw, 80px);
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
}

#logoKZHeader /* zdjęcie, logo kościoła */
{
    height: auto;
    width: clamp(120px, 12vw, 250px);
}

#adresPodLogo /* adres budynku */
{
    width: 100%;
    color: #ffffff;
    line-height: 1.2;
    text-align: center;
    font-size: clamp(8px, 0.8vw, 14px);
}

#monitor /* monitor */
{
    width: 100%;
    height: 80px;
    display: flex;
    min-height: 80px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

#telefon
{
    display: none;
}

nav a
{
    color: #ffffff;
    text-transform: uppercase; /* duże litery dla menu */
}

/* ---------- menu wysuwane ---------- */

.menu
{
    display: flex;
    list-style: none;
}

.menu li
{
    position: relative;
}

.menu a
{
    display: block;
    padding: 15px 0px;
}

.menu a:hover
{
    color: #53678c;
    text-decoration: underline;
}

.submenu
{
    left: 0;
    top: 100%;
    padding: 0;
    display: none;
    min-width: 200px;
    list-style: none;
    border-radius: 5%;
    position: absolute;
    background: rgba(83,103,140,0.5);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.submenu li a
{
    color: white;
    padding: 1rem;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 200ms ease;
}

.submenu li a:hover
{
    padding: 1rem;
    color: #1f3152;
    display: block;
    text-transform: uppercase;
    text-decoration: underline;
}

.dropdown:hover .submenu
{
    display: block;
}

a.jestesNaTejStronie
{
    text-decoration: underline !important;
}

/* ---------- banner ---------- */

#banner
{
    flex: 1;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 0% clamp(2%, 3vw, 10%) 5vh clamp(2%, 3vw, 10%);
    justify-content: flex-end;
    min-height: calc(100vh - 80px);
}

/* ---------- przyciski ---------- */

#trybyPrzycisk /* ciemny/jasny motyw */
{ 
    all: unset;
    flex-shrink: 0;
    cursor: pointer;
    margin-top: 0.1em;
}

#trybyPrzycisk img
{
    height: clamp(15px, 3vw, 20px);
}

#slonce
{
    display: var(--trybyPrzyciskS);
}

#ksiezyc
{
    display: var(--trybyPrzyciskK);
}

/* ---------- stopka ---------- */

footer
{
    display: flex;
    padding: 5% 10%;
    flex-direction: row;
    background-color: #222222;
    justify-content: space-between;
    background-color: var(--kolorStopki);
}

footer p
{
    color: #ffffff;
    font-size: clamp(1rem, 3vw, 1.2rem);
}

#stopkaPrawaStrona
{
    text-align: right;
}

/* ---------- treść ---------- */

.akapitTekstu
{
    width: 100%;
    display: flex;
    padding: 0% 10% 5% 10%;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--kolorTla);
}

.akapitTekstu li
{
    line-height: 1.4;
    color: var(--kolorTekstu);
    font-size: clamp(1rem, 3vw, 1.8rem);
}

.dwaElementy
{
    gap: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: center;
    padding: 0% 10% 5% 10%;
    background-color: var(--kolorTla);
    min-height: clamp(300px, 50vh, 600px);
}

.akapitTekstu:first-of-type, .dwaElementy:first-of-type
{
    padding: 5% 10% 5% 10%;
}

.elementPolowa
{
    flex: 1;
    display: flex;
    overflow: hidden;
    line-height: 1.5;
    flex-direction: column;
    justify-content: flex-start;
}

.elementPolowa img
{ 
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    transition: filter 0.3s ease;
}

@media (max-width: 1200px)
{
    .dwaElementy
    {
        padding: 0% 5% 5% 5%;
        flex-direction: column;
    }

    .dwaElementy > .elementPolowa:first-child
    {
        padding-bottom: 5%;
    }

    .akapitTekstu
    {
        padding: 0% 5% 5% 5%;
    }

    .akapitTekstu:first-child
    {
        padding: 5% 5% 5% 5%;
    }
}

@media (max-width: 1280px) and (orientation: portrait)
{
    #monitor
    {
        display: none;
    }
    
    #telefon
    {
        right: 0px;
        display: flex;
        text-align: right;
        position: absolute;
        align-items: flex-end;
        flex-direction: column;
        padding: 20px 20px 15px 20px;
        border-bottom-left-radius: 20px;
        background-color: color-mix(in srgb, var(--kolorTla) 80%, transparent);
    }

    #telefon a
    {
        color: var(--kolorTekstu);
        margin: 0px;
        padding-bottom: 5px !important;
        padding-top: 0px !important;
        display: block;
    }

    #powitanie
    {
        background-position: right;
    }
}

@media (max-width: 1280px) and (orientation: landscape)
{
    #monitor
    {
        display: none;
    }
    
    #telefon
    {
        right: 0px;
        display: flex;
        text-align: right;
        position: absolute;
        align-items: flex-end;
        flex-direction: column;
        padding: 20px 20px 15px 20px;
        border-bottom-left-radius: 20px;
        background-color: color-mix(in srgb, var(--kolorTla) 80%, transparent);
    }

    #telefon a
    {
        color: var(--kolorTekstu);
        margin: 0px;
        padding-bottom: 5px !important;
        padding-top: 0px !important;
        display: block;
    }

    #powitanie
    {
        background-position: right;
    }
}

@media (max-width: 720px)
{
    footer
    {
        padding: 5% 5%;
        display: flex;
        flex-direction: column;
    }

    #stopkaPrawaStrona
    {
        text-align: left;
    }
}